name: Docker CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test_dockerized_webserver:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Google Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Build Docker Images
        run: docker compose build

      - name: Launch Web Service
        run: docker compose up -d

      - name: Wait for Web Server
        run: ./wait-for-webserver.sh
        shell: bash

      - name: Run Selenium Tests
        run: cd selenium && mvn test
